In [1]:
Name = "Lizz"
Name

'Lizz'

In [2]:
print(Name[0:2])

Li

In [4]:
var = '01234567'
var

'01234567'

In [5]:
print(var[::2])

0246

In [6]:
Name = "Hello"
Name

'hello'.upper()

'HELLO'

In [7]:
Name="ABCDE"
Name.find("B")

1

In [8]:
str(1)+str(1)

'11'

In [9]:
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [12]:
type(tuplel)

NameError: name 'tuplel' is not defined

In [13]:
tuplel = ("disco" , 10, 1.2 )
tuplel

('disco', 10, 1.2)

In [14]:
type(tuplel)

tuple

In [17]:
tuplel2 = tuplel + ("Hard Rock", 10)
tuplel2

('disco', 10, 1.2, 'Hard Rock', 10)

In [19]:
tuplel2[3:5]

('Hard Rock', 10)

In [24]:
len(tuplel2)

5

<h3 id="sort">Sorting</h3>

In [28]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
Ratings

(0, 9, 6, 5, 10, 8, 9, 6, 2)

In [29]:
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

<h3 id="nest">Nested Tuple</h3>

In [34]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
NestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [37]:
NT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
NT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [38]:
(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [39]:
print("Element 0 of Tuple: ", NestedT[0])

Element 0 of Tuple:  1

In [43]:
print("Element O of Tuple:" , NestedT[0])

Element O of Tuple: 1

In [44]:
print("Element 2, 0 of Tuple: ",   NestedT[2][0])

Element 2, 0 of Tuple:  pop

In [47]:
print("Element 2 of Tuple:" , NestedT[3][0])

Element 2 of Tuple: 3

In [48]:
# Print the first element in the second nested tuples
NestedT[2][1][0]

'r'

In [67]:
NestedT[2][1][0]

'r'

In [68]:
NestedT[2][1][1]

'o'

In [69]:
NestedT[4][1][0]

1

In [71]:


genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [72]:
len(genres_tuple)

8

In [79]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [76]:
genres_tuple[3]

'hard rock'

In [77]:
genres_tuple[4]

'soft rock'

In [78]:
genres_tuple[6]

'progressive rock'

In [81]:
genres_tuple[4:7]

('soft rock', 'R&B', 'progressive rock')

In [82]:
genres_tuple[0:2]

('pop', 'rock')

In [83]:
genres_tuple.index("disco")

7

In [84]:
genres_tuple.index("disco")

7

In [85]:
genres_tuple.index("pop")

0

In [88]:
C_tuple=(-5, 1, -3)
C_tuple

(-5, 1, -3)

In [94]:
C_tupleSorted = sorted(C_tuple)
C_tupleSorted

[-5, -3, 1]

<h3>Listing</h3>

In [96]:
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [98]:
print('the same element using negative and positive indexing:\n Postive:',L[0])

the same element using negative and positive indexing:
 Postive: Michael Jackson

In [101]:
print('the same element \n Negative:' , L[-2])

the same element
 Negative: 10.1

In [103]:
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [105]:
L[3:5]

['MJ', 1]

In [106]:
L[0:3]

['Michael Jackson', 10.1, 1982]

In [108]:
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10, 'pop', 10]

In [109]:
L = ["Michael Jackson", 10.1, 1982]
L.extend(['pop' , 10])
L

['Michael Jackson', 10.1, 1982, 'pop', 10]

AttributeError: 'list' object has no attribute 'find'

In [112]:
A = ["disco", 10, 1.2]
print('Before change:', A)

Before change: ['disco', 10, 1.2]

In [115]:
A[0] = 'hard rock'
print('After change:', A)

After change: ['hard rock', 'hard rock', 1.2]

In [116]:
A = ["disco", 10, 1.2]
print('before change' , A)

before change ['disco', 10, 1.2]

In [117]:
del(A[0])
print('after change' , A)

after change [10, 1.2]

In [118]:
'hard rock'.split()

['hard', 'rock']

In [119]:
A = ["hard rock", 10, 1.2]
B = A
print('A:' , A)

A: ['hard rock', 10, 1.2]

In [120]:
print('B:', B)

B: ['hard rock', 10, 1.2]

In [121]:

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [122]:
A[0]

'banana'

In [124]:
B = A[:]
B

['banana', 10, 1.2]

In [126]:
A = A[:]
A

['banana', 10, 1.2]

In [130]:
a_list = (1, "hello", [1,2,3] , "True")
a_list

(1, 'hello', [1, 2, 3], 'True')

In [133]:
a_list[1]

'hello'

In [134]:
a_list[1:4]

('hello', [1, 2, 3], 'True')

In [143]:
A = [1, 'a'] 
B = [2, 1, 'd']

A + B

[1, 'a', 2, 1, 'd']